<nav class="text-[#F0EFEB] text-[18px]">
  <ul class="flex space-x-3 [&_button]:transition-all">
    <li><button routerLink="/home" routerLinkActive="font-bold tracking-widest">Inicio</button></li><span>/</span>
    <li><button routerLink="/catalogo" routerLinkActive="font-bold tracking-widest">Catálogo</button></li><span>/</span>
    <li><button routerLink="/nosotras" routerLinkActive="font-bold tracking-widest">Nosotras</button></li><span>/</span>
    <li><button routerLink="/contactanos" routerLinkActive="font-bold tracking-widest">Contáctanos</button></li>
  </ul>
</nav>